@use 'src/styles/variables.scss';

.doggies-page {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: variables.$space-md;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 600px;
    overflow: auto;
    padding: variables.$space-md;
    border: 1px solid black;
  }
}
